<ul class="navbar-nav">
@if (User.Identity?.IsAuthenticated == true)
{
    <li class="nav-item"><span class="nav-link text-white fw-semibold me-3"><i class="bi bi-person-circle"></i> Hello, @User.Identity.Name!</span></li>
    <li class="nav-item">
        <form asp-controller="Account" asp-action="Logout" method="post">
            <button type="submit" class="btn btn-sm btn-outline-warning fw-bold border-2 px-3">LOGOUT</button>
        </form>
    </li>
}
else
{
    <li class="nav-item ms-2"><a class="btn btn-sm btn-warning text-navy fw-bold border-2 border-navy px-3" asp-controller="Account" asp-action="Login">LOGIN</a></li>
}
</ul>
